.dark {
  --primary-color: #ffffff;
  --secondary-color: #d0d0d0;
  --tertiary-color: #adacb5;
  --background-color: #2d3142;
  --accent-color: #434760;
  --text-body-color: #d0d0d0;
  --text-heading-color: #ffffff;
  --shine-intensity: 0.5;
}
