@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@import "./styles/themes/light.css";
@import "./styles/themes/dark.css";
@import "./styles/animations/common.css";

@theme inline {
  --color-theme-primary: var(--primary-color);
  --color-theme-secondary: var(--secondary-color);
  --color-theme-tertiary: var(--tertiary-color);
  --color-theme-background: var(--background-color);
  --color-theme-accent: var(--accent-color);
  --color-theme-text-body: var(--text-body-color);
  --color-theme-text-heading: var(--text-heading-color);

  --font-sans: "Nunito", sans-serif;

  --animate-text-illuminate-left: gradient-shift-left 3s ease forwards;
  --animate-text-illuminate-right: gradient-shift-right 3s ease forwards;

  --animate-stack-radiate: gradient-expand 2s ease forwards;
}
